.rotterdam-slider-portlet {
    margin: 0;
}

.rotterdam-slider-portlet .caroufredsel_wrapper {
    cursor: default !important;
}

.rotterdam-slider-portlet .clearfix {
    float: none;
    clear: both;
}